<div class="materials-table">
  <div class="title subtitle-1">
    Materials
  </div>
  <i
    class="plus-icon material-icons"
    (click)="f.reset()"
    [class.rotated]="isAddNewPanel"
    (click)="showAddPanel()"
  >
    add
  </i>
  <div class="title-sum headline-3">
    $12,132.43
  </div>
  <form
    #f="ngForm"
    (ngSubmit)="addMaterial(f.value)"
    class="add-new-panel"
    [class.panel-hidden]="!isAddNewPanel"
  >
    <span>
      <span class="error subtitle-1" *ngIf="name.touched && !name.valid">name is required!</span>
      <input
        type="text"
        autocomplete="off"
        ngModel
        #name="ngModel"
        name="name"
        required
        class="subtitle-1"
        placeholder="material name"
        id="material-name"
      />
    </span>
    <span>
      <span class="error subtitle-1" *ngIf="unit.touched && !unit.valid">unit is required!</span>
      <input
        type="text"
        autocomplete="off"
        ngModel
        #unit="ngModel"
        name="unit"
        required
        class="subtitle-1"
        placeholder="material unit"
        id="material-unit"
      />
    </span>
    <button class="tick-icon" [disabled]="!f.valid">
      <i class="material-icons" [class.visible]="true">check</i>
    </button>
  </form>
  <div class="table-content">
    <span *ngFor="let material of (materials$ | async); index as i">
      <div class="list-item" (click)="updateSelectedMaterial(material, i)">
        <div class="quantity body-1">{{ material.quantity }} <span class="unit"></span></div>
        <i class="edit-icon material-icons">edit</i>
        <div class="list-content subtitle-1">
          <div class="list-title">
            {{ material.name }}
          </div>
          <div class="list-description body-2">
            d.{{ material.delivered }} /
            <span class="title-date"> p.{{ material.processed }} </span>
          </div>
          <svg class="completion-bar">
            <path [attr.d]="renderQuantityBar(material)" class="completeion-bar-empty" />
            <path [attr.d]="renderProcessedBar(material)" class="completeion-bar-processed" />
            <path [attr.d]="renderDeliveredBar(material)" class="completeion-bar-delivered" />
          </svg>
        </div>
        <hr />
      </div>
    </span>
  </div>
  <div class="see-all button" (click)="scrollToTop($event)">
    go to top
  </div>
</div>

<div class="right-sidebar">
  <form>
    <label for="material-name">Material</label>
    <span class="tooltip">
      <span class="tooltip-text body-2">not editable</span>
      <input disabled class="material-name" [value]="selectedMaterial?.name" type="text" />
    </span>
    <label for="material-unit">Unit</label>
    <input type="text" class="material-unit" [value]="selectedMaterial?.unit" />
    <label for="material-quantity">Total Quantity</label>
    <span class="tooltip">
      <span class="tooltip-text body-2">not editable</span>
      <input disabled class="material-quantity" type="text" [value]="selectedMaterial?.quantity" />
    </span>
    <label for="material-processed">Material Processed</label>
    <input
      #updatedProcessed
      class="material-processed"
      type="number"
      [min]="selectedMaterial?.delivered"
      [max]="selectedMaterial?.quantity"
      [value]="selectedMaterial?.processed"
      (keyup)="processedChanged(selectedMaterial, updatedProcessed)"
    />
    <label for="material-delivered">Material Delivered</label
    ><input
      #updatedDelivered
      class="material-delivered"
      type="number"
      [value]="selectedMaterial?.delivered"
      (keyup)="deliveredChanged(selectedMaterial, updatedDilvered)"
    />
  </form>
</div>
