<div class="topbar">
  <img class="logo" src="../../../assets/images/logo.png" />
  <span class="headline-3 title">Register with Rally</span>
  <span class="signup">
    <span class="subtitle-2 signup-text">
      Already have an account?
    </span>

    <button mat-stroked-button class="button" routerLink="/login">
      Log in
    </button>
  </span>
</div>
<form #f="ngForm" (ngSubmit)="register(f.value)" class="login-area">
  <div class="error-span">
    <span class="error subtitle-1" *ngIf="email.touched && !email.valid">email required!</span>
    <input
      type="text"
      autocomplete="off"
      ngModel
      #email="ngModel"
      name="email"
      required
      class="subtitle-1"
      placeholder="email"
    />
  </div>
  <div class="error-span">
    <span class="error subtitle-1" *ngIf="password.touched && !password.valid">
      password required!
    </span>
    <input
      type="password"
      autocomplete="off"
      ngModel
      #password="ngModel"
      name="password"
      required
      class="subtitle-1"
      placeholder="password"
    />
  </div>
  <div class="error-span">
    <span class="error subtitle-1" *ngIf="password2.touched && !password2.valid">
      password required!
    </span>
    <input
      type="password"
      autocomplete="off"
      ngModel
      #password2="ngModel"
      name="password2"
      required
      class="subtitle-1"
      placeholder="confirm password"
    />
  </div>
  <div class="confirmations">
    <button mat-flat-button class="button" [disabled]="!f.valid">Register</button>
    <div class="message subtitle-1">{{ message }}</div>
  </div>
</form>
