<div class="topbar">
  <img class="logo" src="../../../assets/images/logo.png" />
  <span class="headline-3 title">Register with Rally</span>
  <span class="signup">
    <span class="subtitle-2 signup-text">
      Already have an account?
    </span>

    <button mat-stroked-button class="button" routerLink="/login">
      Log in
    </button>
  </span>
</div>
<div class="login-area">
  <input type="text" autocomplete="off" class="subtitle-1" placeholder="email" />
  <input type="password" autocomplete="off" class="subtitle-1" placeholder="password" />
  <input type="password" autocomplete="off" class="subtitle-1" placeholder="confirm password" />
  <div class="confirmations">
    <button mat-flat-button class="button">Register</button>
  </div>
</div>
