/* You can add global styles to this file, and also import other style files */
@import "./assets/_colors.sass"

@font-face
  font-family: Eczar
  src: url(../src/assets/fonts/Eczar/Eczar-Regular.ttf)


@font-face 
  font-family: Roboto
  src: url(src/assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf)


body 
    background-color: $gray

.heading-1
