/* You can add global styles to this file, and also import other style files */
@import "./assets/_colors.sass"

@font-face
  font-family: Eczar
  src: url(../src/assets/fonts/Eczar/Eczar-Regular.ttf)

@font-face 
  font-family: RobotoCondensed
  src: url(src/assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf)

@font-face 
  font-family: RobotoCondensed-Light
  src: url(src/assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf)

@font-face 
  font-family: RobotoCondensed-Bold
  src: url(src/assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf)


body 
    background-color: $gray

.headline-1
    font-family: RobotoCondensed-Light
    font-size: 96px

.headline-2
    font-family: RobotoCondensed-Light
    font-size: 60px

.headline-3
    font-family: Eczar
    font-size: 48px

.headline-4
    font-family: RobotoCondensed
    font-size: 34px

.headline-5
    font-family: RobotoCondensed
    font-size: 24px

.headline-6
    font-family: RobotoCondensed
    font-size: 20px

.subtitle-1
    font-family: RobotoCondensed
    font-size: 16px

.subtitle-2
    font-family: RobotoCondensed
    font-size: 16px

.body-1
    font-family: Eczar
    font-size: 16px

.body-2
    font-family: RobotoCondensed-Light
    font-size: 14px

.button
    font-family: RobotoCondensed-Bold
    font-size: 14px
    text-transform: uppercase

.caption
    font-family: RobotoCondensed
    font-size: 12px

.overline
    font-family: RobotoCondensed
    font-size: 10px
    text-transform: uppercas


